.login {
    width: 400px;
    background-color: white;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
}

.login>.button {
    width: 100%;
    background-color: blue;
    margin-top: 14px;
    padding: 10px;
    border-radius: 8px;
    color: white;
}

.login>input {
    padding: 10px 22px;
    margin-top: 5px;
}